<?xml version="1.0" encoding="utf-8"?>
<!--TODO Include new components in tests-->
<!--TODO improve test to also include failure conditions -->
<phpunit bootstrap="../../../tests/Functional/bootstrap.php" strict="false">
<testsuite name="VerignAiPhilosSearch Test Suite">
    <directory>tests/Shopware</directory>
    <directory>tests</directory>
    <directory>tests/AiPhilos</directory>
</testsuite>
    <filter>
        <whitelist>
            <directory suffix=".php">./</directory>

            <exclude>
                <directory>./Resources</directory>
                <directory>./tests</directory>
            </exclude>
        </whitelist>
    </filter>
</phpunit>
