<?xml version="1.0" encoding="utf-8"?>
<plugin xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="../../../engine/Shopware/Components/Plugin/schema/plugin.xsd">
    <label lang="de">AiPhilos Suche</label>
    <label lang="en">AiPhilos Suche</label>
    <version>1.1.3</version>
    <copyright>(c) by aiPhilos GmbH</copyright>
    <license>GPLv3</license>
    <link>https://www.designverign.de</link>
    <author>designverign GmbH</author>

    <compatibility minVersion="5.2.0" />

    <changelog version="1.0.0">
        <changes lang="de">Erste Veröffentlichung</changes>
        <changes lang="en">Initial Release</changes>
    </changelog>
    <changelog version="1.0.1">
        <changes lang="de">Bugfix für Crash bei Cronjob-Ausführung von Kommandozeile</changes>
        <changes lang="en">Bugfix for crash during cronjob execution when started from commandline</changes>
    </changelog>
    <changelog version="1.1.0">
        <changes lang="de">Verbesserung der Mehrsprachigkeit</changes>
        <changes lang="en">Improve multi-language support.</changes>
        <changes lang="de">Ausgeschlossene Kategorien sind jetzt Subshop fähig</changes>
        <changes lang="en">Excluded categories are now sub-shop capable</changes>
    </changelog>
    <changelog version="1.1.1">
        <changes lang="de">Fehler beim ignorieren von Kategorien behoben</changes>
        <changes lang="en">Fixed error with ignored categories</changes>
        <changes lang="de">Mehere Korrekturen für Subshopfähigkeit</changes>
        <changes lang="en">Multiple fixes for sub-shop capability</changes>
    </changelog>
    <changelog version="1.1.2">
        <changes lang="de">Fehlerkorrektur für Subshopfähigkeit</changes>
        <changes lang="en">Bugfix for sub-shop capability</changes>
        <changes lang="de">Verbesserung beim Umgang mit großen Datenmengen</changes>
        <changes lang="en">Improvements when handling large amounts of data</changes>
    </changelog>
    <changelog version="1.1.3">
        <changes lang="de">Live Suche wird nun um eine Sekunde verzögert</changes>
        <changes lang="en">Live search is now delayed by one second</changes>
    </changelog>

    <requiredPlugins>
        <requiredPlugin pluginName="Cron"/>
    </requiredPlugins>
</plugin>