<?xml version="1.0" encoding="utf-8"?>
<plugin xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="../../../engine/Shopware/Components/Plugin/schema/plugin.xsd">
    <label lang="de">AiPhilos Suche</label>
    <label lang="en">AiPhilos Suche</label>
    <version>1.0.1</version>
    <copyright>(c) by aiPhilos GmbH</copyright>
    <license>GPLv3</license>
    <link>https://www.designverign.de</link>
    <author>designverign GmbH</author>

    <compatibility minVersion="5.2.0" />

    <changelog version="1.0.0">
        <changes lang="de">Erste Veröffentlichung</changes>
        <changes lang="en">Initial Release</changes>
    </changelog>
    <changelog version="1.0.1">
        <changes lang="de">Umbenennung des Plugins (verletzt Semver)</changes>
        <changes lang="en">Plugin renamed (violates semver)</changes>
    </changelog>
</plugin>