<?xml version="1.0" encoding="utf-8"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="../../../../engine/Shopware/Components/Plugin/schema/config.xsd">

    <elements>
        <element type="boolean" required="true" scope="shop">
            <name>useAiSearch</name>
            <label lang="de">KI Suche für diesen Shop verwenden?</label>
            <label lang="en">Use AI search for this shop?</label>
            <value>false</value>
        </element>
        <element type="text" required="true" scope="locale" >
            <name>apiName</name>
            <label lang="de">aiPhilos Benutzername</label>
            <label lang="en">aiPhilos Username</label>
        </element>
        <element type="password" required="true" scope="locale" >
            <name>apiPassword</name>
            <label lang="de">aiPhilos Passwort</label>
            <label lang="en">aiPhilos Password</label>
        </element>
        <element type="text" required="true" scope="shop">
            <name>apiDbName</name>
            <label lang="de">aiPhilos Datenbankname</label>
            <label lang="en">aiPhilos Database Name</label>
        </element>
        <element type="number" required="true" scope="shop">
            <name>salesMonths</name>
            <label lang="de">Anzahl der Monate für Bestseller</label>
            <label lang="en">Number of months for bestsellers</label>
            <description lang="de">Die Verkaufsfrequenz der Artikel wird mit an die aiPhilos Datenbank übergeben, hier können sie festlegen, über wie viele Monate diese berechnet werden soll.</description>
            <description lang="en">The sales frequency of an article will be transmitted to the aiPhilos database. Here you can select the number of months for which said frequency will be calculated.</description>
        </element>
        <element type="text" scope="shop">
            <name>attributeColumns</name>
            <label lang="de">Freitextfeld-Spalten</label>
            <label lang="en">Attribute Columns</label>
            <description lang="de">Geben Sie hier die Spaltennamen der Freitextfelder als Semikolon-getrennte Liste ein, welche mit den Artikeldaten an die aiPhilos Datenbank übertragen werden sollen. Dies ist nur für menschenlesbare Texte sinnvoll, wie z.B. zusätzliche Beschreibungen.</description>
            <description lang="en">Enter a semicolon separated list of column names of the attributes you would like to transmit to the aiPhilos database here. This only makes sense for human readable texts such as additional descriptions.</description>
        </element>
        <element type="text" scope="shop">
            <name>excludedCategoryIds</name>
            <label lang="de">Ausgeschlossene Kategorie-IDs</label>
            <label lang="en">Excluded Category-IDs</label>
            <description lang="de">Semikolon-getrennte Liste an Kategorie-IDs deren Artikel nicht an die aiPhilos Datenbank gesendet werden sollen. Es ist nicht notwendig hier Kategorie-IDs aus einem Kategoriebaum außerhalb des hier konfigurierten Subshops einzutragen, da diese standardmäßig exkludiert sind.</description>
            <description lang="en">Semicolon separated list of category IDs whose articles to exclude from upload to the aiPhilos database. It is not necessary to enter category IDs from categories that are not part of the current sub-shops category tree here, as these are excluded by default. </description>
        </element>
        <element type="select" required="true" scope="shop">
            <name>fallbackMode</name>
            <label lang="de">Fallback Modus</label>
            <label lang="en">Fallback mode</label>
            <value>always</value>
            <store>
                <option>
                    <value>off</value>
                    <label lang="de">Niemals (nicht empfohlen)</label>
                    <label lang="en">Never (not recommended)</label>
                </option>
                <option>
                    <value>always</value>
                    <label lang="de">Fehler und keine Ergebnisse (Standardeinstellung)</label>
                    <label lang="en">Errors and no results (Default)</label>
                </option>
                <option>
                    <value>on_error</value>
                    <label lang="de">Nur bei Fehlern (minimale Empfehlung)</label>
                    <label lang="en">Only on errors (minimal recommended)</label>
                </option>
                <option>
                    <value>on_no_results</value>
                    <label lang="de">Nur bei keinen Ergebnissen</label>
                    <label lang="en">Only when no results returned</label>
                </option>
            </store>
        </element>
        <element type="boolean" scope="shop">
            <name>learnMode</name>
            <label lang="en">Learning Mode</label>
            <label lang="de">Lernmodus</label>
            <description lang="en">The learning mode prevents the AI search from actually being used while the AI is still learning about your products. You can still force the AI Search by appending "&amp;forceAi" to the search query to compare results with the default search.</description>
            <description lang="de">Der Lernmodus verhindert, dass Suchanfragen tatsächlich an die KI Suche gehen, während diese über Ihren Produkstamm noch analysiert. Sie können die KI Suche trotzdem erzwingen, indem Sie "&amp;forceAi" an den Suchquery anhängen um die Ergebnisse mit der Standardsuche zu vergleichen.</description>
        </element>
        <element type="number" scope="shop">
            <name>searchDelay</name>
            <label lang="en">Delay for live search in milliseconds</label>
            <label lang="de">Verzögerung für Live Suche in Millisekunden</label>
            <value>750</value>
        </element>
    </elements>

</config>